# this is /lib/systemd/system/your_cmd.service
# (or /lib/systemd/system/your_cmd.service dependent on 
#  your linux distribution flavor )
[Unit]
Description=ImageServer daemon
Documentation=http://tuxgraphics.org/npa/
After=network.target syslog.target

[Service]
# see man systemd.service 
Type=simple
ExecStart=/usr/bin/ImageServer-start.sh
RemainAfterExit=true
ExecStop=/usr/bin/ImageServer-stop.sh
StandardOutput=journal

[Install]
WantedBy=multi-user.target
